/* || Container Styling */
create-screen {
    background-color: rgba(1, 1, 1, 0.75);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: var(--max-width, 70rem);
    padding: 1rem;
}

#speech-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

button {
    background-color: var(--white-transparent);
    border-radius: 10px;
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5em;
    font-style: normal;
}

#title-speech {
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 10px;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-size: 2rem;
    height: 2em;
    text-align: center;
    width: 10em;
}

label {
    display: none;
}

form {
    padding: 1rem;
}

fieldset {
    display: flex;
    border: 0;
    align-items: center;
    column-gap: 1em;
}

#save-button {
    align-items: center;
    height: 2.5em;
    width: 8em;
}

#save-button:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

#customize-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 1em;
    column-gap: 2em;
    height: 100%;
    position: relative;
    width: 100%;
}

.card-textareas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
}

.flash-card-creation {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5em;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.card-nav-button {
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 100px;
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    height: 2em;
    text-align: center;
    width: 2em;
}

.previous {
    transform: scaleX(-1);
}

.card-nav-button:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

.next-card-button {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.next-card-button:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

#input-front-card {
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 15em;
    width: 100%;
    max-width: 30em;
}

#input-back-card {
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 15em;
    width: 100%;
    max-width: 30em;
}

.card-time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

#set-time {
    align-items: center;
    background-color: var(--white-transparent);
    border-radius: 10px;
    color: var(--black);
    height: 2em;
    width: 7em;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    padding: 0.5em;
}

#set-time:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

#upload-card {
    /* Save & Finish */
    align-items: center;
    justify-self: flex-end;
    background-color: var(--white-transparent);
    border-radius: 10px;
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    height: 2em;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 6em;
}

#upload-card:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

#save-name-button {
    font-size: 1em;
    height: 2em;
    width: 4em;
}

#sort-up {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

#sort-down {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.flash-card-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 20px;
}

hr {
    display: none;
}

card-preview {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    width: 100%;
}

card-preview > section {
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    color: var(--black);
    display: grid;
    height: 12em;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    position: relative;
    text-align: center;
}

card-preview > menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.time-text {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

card-preview:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

.edit-card-btn {
    background-color: var(--white-transparent);
    outline: none;
    color: var(--black);
    border-radius: 10px;
    width: 6em;
    height: 2em;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-size: 1.5em;
    align-items: center;
}

.delete-card-btn {
    background-color: var(--white-transparent);
    outline: none;
    color: var(--black);
    border-radius: 10px;
    width: 6em;
    height: 2em;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-size: 1.5em;
    align-items: center;
}

#back-button {
    height: 2em;
    width: 4em;
    align-self: flex-start;
}

.snap-to-top-button {
    background-color: var(--white-transparent);
    height: 2em;
    width: 2em;
    justify-self: flex-end;
}

@media screen and (max-width: 1024px) {
    .card-textareas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #input-front-card {
        max-width: 30rem;
        width: 100%;
    }

    #input-back-card {
        max-width: 30rem;
        width: 100%;
    }

    #set-time {
        max-width: 30%;
    }
}
